<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://i.blogs.es/bc0a29/cartel-logan/450_1000.jpeg">
  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>

<p-button  styleClass="p-button-help" icon="pi pi-save" label="Registrar" iconPos="right"></p-button>
