<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module
  </p>
</div>


<div class="p-grid">

  <div class="p-col p-md-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
          Hola {{ persona.nombre }}, es un placer {{ persona.genero | i18nSelect:mapping }} a este evento de premiación.
      </p>
      <p-button label="Cambiar persona" icon="pi pi-refresh" styleClass="p-button-help" (onClick)="cambiarPersona()"></p-button>
    </p-fieldset>
  </div>
  <div class="p-col p-md-6">
    <p-fieldset legend="i18nPlural Pipe " [toggleable]="true">
        <p>
          Actualmente {{ clientes.length | i18nPlural:clientesMap }}
        </p>
        <p-button label="Eliminar cliente" icon="pi pi-trash" styleClass="p-button-danger" (onClick)="eliminarCliente()"></p-button>
    </p-fieldset>
  </div>


</div>
